fastapi
uvicorn
supabase
python-dotenv
pydantic
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
sentence-transformers
markdown
google-generativeai
python-multipart